footer {
  text-align: center;
  padding: 10px; 
  background-color: #f8f8f8; 
  border-top: 1px solid #ddd;
}

/* .glide__bullets {
  display: flex;
  justify-content: center; /* Centers the bullets horizontally */
  /* margin-top: 10px; /* Adds some spacing above the bullets */
/* }

.glide__arrows {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%; 
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  z-index: 10; 
}
.glide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; 
}

.slide-content img {
  max-width: 100%;
  height: auto; */
/* } */